.nav {
  grid-area: nav;
  background-color: #ffca3a;
}

.nav_item {
  color: white;
}

.nav_active {
  color: #ff595e;
  text-decoration: none;
}

.nav_activeLink {
  color: #1982c4;
  text-decoration: none;
}
