.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItem {
  padding: 10px;
}

.dialog {
  color: white;
}

.messages {
  padding: 10px;
}

.message {
}

.dialogsItems {
  color: rebeccapurple;
  text-decoration: none;
}
